<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableBooking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3415963D1DBCD92C00A5D68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>341596541DBCD92D00A5D68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3415965F1DBCD92D00A5D68C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
